a {
  text-decoration: none;
}
img {
  max-width: 150%;
  height: auto;
  display: block;
}
p,
h1,
h2,
blockquote {
  margin: 0;
}
li {
  list-style-type: none;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/open-sans-v27-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v27-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/open-sans-v27-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/open-sans-v27-latin_cyrillic-600.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/open-sans-v27-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v27-latin_cyrillic-700.woff") format("woff");
}
.button {
  border: none;
  height: 20.52px;
  color: #FFFFFF;
  vertical-align: middle;
  text-decoration: none;
  background-color: #000000;
  font-size: 9.65781px;
  line-height: 13px;
  font-weight: 500;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.button:hover {
  opacity: 0.5;
  text-decoration: none;
}
.button:focus,
.button:active {
  opacity: 0.8;
  background-color: #000000;
  text-decoration: none;
}
.button:disabled {
  background-color: #E0D1BB;
  text-decoration: none;
}
@media (min-width: 768px) {
  .button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 6px 25px;
    height: 35px;
  }
}
@media (min-width: 1280px) {
  .button {
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0px;
    padding: 11px 40px;
    height: 50px;
  }
}
.form__button {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .form__button {
    margin-top: 23px;
    margin-bottom: 15px;
  }
}
@media (min-width: 1280px) {
  .form__button {
    margin-top: 34px;
    margin-bottom: 20px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.line {
  border: none;
  vertical-align: middle;
  height: 0.246487px;
  color: #969696;
  width: 30%;
}
@media (min-width: 768px) {
  .line {
    width: 25%;
  }
}
@media (min-width: 1280px) {
  .line {
    width: 29%;
  }
}
@media (min-width: 1280px) {
  .line--right {
    margin-left: 20px;
  }
}
.line--left {
  text-align: left;
  margin-right: 1%;
  margin-left: 0;
  transform: rotate(180deg);
}
.line--right {
  text-align: right;
  margin-left: 1%;
  margin-right: 0;
  transform: rotate(180deg);
}
.page {
  height: 100%;
  font-size: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 26px;
}
.page__body {
  align-content: start;
  min-height: 100%;
  min-width: 320px;
  color: #000000;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
  max-width: 480px;
}
@media (min-width: 768px) {
  .page__body {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1280px) {
  .page__body {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}
.main {
  background-color: #FFFFFF;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.sale-wrapper {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .sale-wrapper {
    padding-top: 0;
    margin-top: 22px;
  }
}
@media (min-width: 1280px) {
  .sale-wrapper {
    margin-top: 42px;
    margin-left: 5%;
    margin-right: 3%;
  }
}
.intro-text {
  margin: 25px 0 0;
  font-weight: 700;
  font-size: 8.5px;
  line-height: 23px;
  background-color: #F4F1ED;
}
@media (min-width: 768px) {
  .intro-text {
    font-size: 16px;
    line-height: 40px;
    margin: 49px 0 0;
  }
}
@media (min-width: 1280px) {
  .intro-text {
    font-weight: bold;
    font-size: 22px;
    line-height: 57px;
    margin-top: 52px;
    margin-left: 5%;
    margin-right: 3%;
    padding-left: 40px;
  }
}
.sale-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  min-width: 178px;
}
@media (min-width: 768px) {
  .sale-text {
    font-size: 24px;
    line-height: 10px;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .sale-text {
    font-size: 32px;
    min-width: 432px;
    padding-left: 5px;
  }
}
.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__logo-image {
  width: 40px;
  height: 40px;
  font-size: 12px;
  color: #000000;
}
@media (min-width: 768px) {
  .header__logo-image {
    width: 72px;
    height: 72px;
    font-size: 21px;
  }
}
@media (min-width: 1280px) {
  .header__logo-image {
    width: 120px;
    height: 120px;
    font-size: 30px;
  }
}
.header__logo {
  margin-left: 23px;
}
@media (min-width: 768px) {
  .header__logo {
    margin-left: 7%;
  }
}
@media (min-width: 1280px) {
  .header__logo {
    margin-left: 92px;
  }
}
.header__logo:hover {
  opacity: 0.6;
}
.shops__text {
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .shops__text {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    vertical-align: middle;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .shops__text {
    font-size: 22px;
    line-height: 30px;
    font-weight: normal;
  }
}
.header__shops {
  margin-right: 11px;
  color: #000000;
}
@media (min-width: 768px) {
  .header__shops {
    margin-right: 2%;
  }
}
@media (min-width: 1280px) {
  .header__shops {
    margin-right: 64px;
  }
}
.shops__image {
  display: inline;
  margin-left: 5px;
  vertical-align: middle;
  width: 12.18px;
  height: 16.8px;
}
@media (min-width: 768px) {
  .shops__image {
    width: 23.57px;
    height: 32.51px;
    margin-left: 5px;
  }
}
@media (min-width: 1280px) {
  .shops__image {
    width: 29px;
    height: 40px;
  }
}
.header__shops:hover .shops__text {
  color: #7a7a7a;
}
.header__shops:active .shops__text {
  color: #000000;
}
.form-wrapper {
  margin-top: 28px;
}
@media (min-width: 768px) {
  .form-wrapper {
    margin-top: 42px;
  }
}
@media (min-width: 1280px) {
  .form-wrapper {
    margin-top: 70px;
  }
}
@media (min-width: 1280px) {
  .form-wrapper {
    margin-top: 70px;
  }
}
.form {
  text-align: center;
  margin-left: 13%;
  margin-right: 13%;
}
@media (min-width: 768px) {
  .form {
    margin-left: 17.5%;
    margin-right: 16.7%;
  }
}
@media (min-width: 1280px) {
  .form {
    margin-left: 21%;
    margin-right: 19%;
  }
}
.form__list {
  line-height: 22px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.form__item {
  display: flex;
  border: 1px solid #C2C2C2;
  box-sizing: border-box;
  border-radius: 1.82536px;
  height: 18px;
  color: #C2C2C2;
}
@media (min-width: 768px) {
  .form__item {
    height: 30px;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .form__item {
    height: 40px;
  }
}
.form__item:first-child {
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .form__item:first-child {
    margin-bottom: 8px;
  }
}
.form__description {
  text-align: left;
}
.form__field {
  width: 100%;
  border: none;
  background-color: #FFFFFF;
  padding: 2px 0 2px 5px;
  font-size: 10px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .form__field {
    font-size: 16px;
    line-height: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 1280px) {
  .form__field {
    font-size: 22px;
    line-height: 20px;
  }
}
.form__field::-moz-placeholder {
  color: #C2C2C2;
}
.form__field::placeholder {
  color: #C2C2C2;
}
.form__field:hover {
  outline: none;
  box-shadow: 0 0 10px 5px #dddddd;
}
.form__field:active,
.form__field:focus {
  background-color: #FFFFFF;
}
.form__field:focus:invalid {
  outline: 2px solid #e4acac;
}
@media (min-width: 768px) {
  .mail {
    letter-spacing: 0.3px;
  }
}
@media (min-width: 1280px) {
  .mail {
    letter-spacing: 1px;
  }
}
@media (min-width: 1280px) {
  .name {
    letter-spacing: 1px;
  }
}
.footer {
  width: 74%;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .footer {
    margin-top: 22px;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding-left: 30px;
    margin-top: 47px;
  }
}
.footer-intro__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11.9996px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .footer-intro__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
  }
}
@media (min-width: 1280px) {
  .footer-intro__title {
    font-size: 30px;
    line-height: 41px;
  }
}
.footer-intro__text {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}
@media (min-width: 768px) {
  .footer-intro__text {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (min-width: 1280px) {
  .footer-intro__text {
    font-size: 22px;
    line-height: 23px;
  }
}
.social__list {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 14px 0 0;
  width: 100%;
}
@media (min-width: 366px) and (max-width: 767px) {
  .social__list {
    max-width: 292px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .social__list {
    justify-content: space-between;
    width: 341px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1280px) {
  .social__list {
    width: 376px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
.social__item {
  display: flex;
  align-items: center;
}
.social__icon--whatsapp {
  width: 15.78px;
  height: 15.78px;
}
@media (min-width: 768px) {
  .social__icon--whatsapp {
    width: 27.82px;
    height: 27.82px;
  }
}
@media (min-width: 1280px) {
  .social__icon--whatsapp {
    width: 31px;
    height: 31px;
  }
}
.social__icon--instagram {
  width: 15.78px;
  height: 15.78px;
}
@media (min-width: 768px) {
  .social__icon--instagram {
    width: 27.82px;
    height: 27.82px;
  }
}
@media (min-width: 1280px) {
  .social__icon--instagram {
    width: 31px;
    height: 31px;
  }
}
.social__icon--facebook {
  width: 15.78px;
  height: 15.78px;
}
@media (min-width: 768px) {
  .social__icon--facebook {
    width: 27.82px;
    height: 27.82px;
  }
}
@media (min-width: 1280px) {
  .social__icon--facebook {
    width: 31px;
    height: 31px;
  }
}
.social__icon--telegram {
  width: 16.29px;
  height: 15.78px;
}
@media (min-width: 768px) {
  .social__icon--telegram {
    width: 28.72px;
    height: 28.72px;
  }
}
@media (min-width: 1280px) {
  .social__icon--telegram {
    width: 32px;
    height: 31px;
  }
}
.social__icon--vk {
  width: 19.86px;
  height: 19.86px;
}
@media (min-width: 768px) {
  .social__icon--vk {
    width: 35px;
    height: 35px;
  }
}
@media (min-width: 1280px) {
  .social__icon--vk {
    width: 39px;
    height: 39px;
  }
}
.social__icon--youtube {
  width: 18.84px;
  height: 18.84px;
}
@media (min-width: 768px) {
  .social__icon--youtube {
    width: 33.21px;
    height: 33.21px;
  }
}
@media (min-width: 1280px) {
  .social__icon--youtube {
    width: 37px;
    height: 37px;
  }
}
.copyright__wrapper {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #949494;
  margin-top: 12px;
}
@media (min-width: 768px) {
  .copyright__wrapper {
    font-size: 16px;
    line-height: 25px;
    margin-top: 15px;
  }
}
@media (min-width: 1280px) {
  .copyright__wrapper {
    font-size: 22px;
    line-height: 30px;
    text-align: left;
    margin-left: -9.5%;
  }
}
.social__icon {
  font-size: 7px;
}
@media (min-width: 768px) {
  .social__icon {
    font-size: 10px;
  }
}
@media (min-width: 1280px) {
  .social__icon {
    font-size: 12px;
  }
}
.social__icon:hover {
  opacity: 0.5;
}
.social__icon:active {
  opacity: 0.7;
}
.message {
  margin-top: 4%;
  text-align: center;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.1px;
  color: #AB2C31;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .message {
    font-size: 16px;
    line-height: 19.5px;
  }
}
@media (min-width: 1280px) {
  .message {
    font-size: 22px;
    line-height: 26.82px;
  }
}
.message__button-wrapper {
  text-align: right;
}
.message-button {
  width: 30px;
  height: 20px;
  padding: 0;
  background-color: #FFFFFF;
  cursor: pointer;
  border: none;
}
@media (min-width: 768px) {
  .message-button {
    width: 50px;
    height: 30px;
  }
}
@media (min-width: 1280px) {
  .message-button {
    width: 60px;
    height: 40px;
  }
}
.message-button::before,
.message-button::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: #AB2C31;
}
@media (min-width: 768px) {
  .message-button::before,
  .message-button::after {
    width: 15px;
    height: 1px;
  }
}
@media (min-width: 1280px) {
  .message-button::before,
  .message-button::after {
    width: 20px;
    height: 1px;
  }
}
.message-button::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.message-button::after {
  transform: rotate(-45deg);
}
.message-button:active {
  opacity: 0.3;
  color: #E0CCAE;
}
.conditions-wrapper {
  text-align: left;
  font-weight: normal;
  font-size: 9px;
  line-height: 13px;
  margin-top: 20px;
  max-width: 191px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .conditions-wrapper {
    max-width: 100%;
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 14%;
    margin-right: 14%;
  }
}
@media (min-width: 1280px) {
  .conditions-wrapper {
    font-size: 22px;
    line-height: 30px;
    margin-left: 17.5%;
    margin-right: 14%;
    letter-spacing: -0.5px;
  }
}
.conditions__description {
  max-width: 100%;
}
.conditions__field {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.conditions__field + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.conditions__field + label::before {
  content: "";
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 0.7em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  margin-top: -4px;
}
@media (min-width: 768px) {
  .conditions__field + label::before {
    border-radius: 5px;
    margin-top: -12px;
    margin-right: 0.6em;
  }
}
@media (min-width: 1280px) {
  .conditions__field + label::before {
    width: 1em;
    height: 1em;
    margin-top: -16px;
    margin-right: 0.8em;
  }
}
.conditions__field:checked + label::before {
  border-color: #b9192b;
  background-color: #b9192b;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.conditions__link {
  text-decoration: underline;
  color: #000000;
}
.conditions__link:hover {
  color: #7a7a7a;
}
.conditions__link:active {
  color: #000000;
}
.gallery__list {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .gallery__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .gallery__list {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 3%;
  }
}
.gallery__item {
  display: none;
}
@media (min-width: 768px) {
  .gallery__item {
    display: block;
  }
}
.gallery__item:first-child {
  display: inline-block;
}
.gallery__image {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 9px;
  color: #000000;
}
@media (min-width: 768px) {
  .gallery__image {
    width: 234.13px;
    height: 272px;
    font-size: 15px;
  }
}
@media (min-width: 1280px) {
  .gallery__image {
    width: 355px;
    height: 416px;
    font-size: 21px;
  }
}
